<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- -->
    <add key="wikiURL" value="http://inno512w/wiki/" />
    <add key="wikiDomain" value="Vodafone ONMI" />
    <add key="wikiDefCategory" value="P2" />
    <add key="PPT_Template" value="conf\Vodafone.pot" />
    <add key="extractors" value="conf\extractors" />
    <add key="loginConf" value="conf\login.dat" />
    <add key="newPage_Template" value="conf\data\template.txt" />
    <add key="newPage_List" value="conf\data\newpages.txt" />
    <add key="replace_List" value="conf\data\replaces.txt" />
    <add key="categories" value="Industria, Prodotti, Progetti di ricerca, Idee, Concept, Rubrica" />
    <!-- -->
    <!--
		<add key="wikiURL" value="http://en.wikipedia.org/wiki/" />
		
	  <add key="PPT_Template" value="conf\Template.pot" />
	  <add key="extractors" value="conf\extractors" />

	  <add key="loginConf" value="conf\login.dat" />
	  
	  <add key="newPage_Template" value="conf\data\template.txt" />
	  <add key="newPage_List"     value="conf\data\newpages.txt" />
	  <add key="replace_List"     value="conf\data\replaces.txt" />

	  <add key="categories" value="Industria, Prodotti, Progetti di ricerca, Idee, Concept, Rubrica" />
-->
  </appSettings>
</configuration>