<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <!-- URL to the wikimedia site -->      
  <add key="wikiURL"          value="http://en.wikipedia.org/wiki/" />
  <!-- wikiDomain -->    
  <add key="wikiDomain"       value="" />
  <!-- path to PowerPoint template -->    
  <add key="PPT_Template"     value="conf\Template.pot" />
  <!-- path to extractors  -->    
  <add key="extractors"       value="conf\extractors" />
  <!-- useLogin flag -->    
  <add key="useLogin"         value="0" />
  <!-- path to login credentials -->    
  <add key="loginConf"        value="conf\login.dat" />
  <!-- path to the template of new pages -->    
  <add key="newPage_Template" value="conf\data\template.txt" />
  <!-- path to the file with the name of the pages to be created -->    
  <add key="newPage_List"     value="conf\data\newpages.txt" />
  <!-- path to the file with the replace rules-->    
  <add key="replace_List"     value="conf\data\replaces.txt" />
  <!-- Frequent categories to be exported -->    
  <add key="categories"       value="Greenpeace,Sustainability organisations" />
 </appSettings>
</configuration>
